/* Responsive Layouts*/

/* Mobile */
@media (max-width: 576px) {
  .s-lead {
    font-size: 0.5rem;
  }
  /* Main Nav Bar */
  #main-nav {
    background: $primary-color;
    border-bottom: 2px solid $secondary-color;
    margin-top: 0;
    &-content {
      justify-content: center;
      #logo {
        display: none;
      }
      ul {
        li {
          font-size: 1.2rem;
        }
      }
    }
  }

  /* Showcase */
  .showcase {
    &-content {
      text-align: center;
      margin-top: 5rem;
      height: 100vh;
      align: center;

      .title {
        h1 {
          font-size: 4rem;
        }
        .bottom-line {
          margin: 0 auto;
        }
      }
      .about {
        width: 100%;
        &-skills {
          display: flex;
          justify-content: space-between;
          i {
            padding: 0.2rem;
            font-size: 3rem;
          }
        }
      }
    }
    #down-arrow {
      display: none;
    }
  }

  /* Project Section */
  #project-section {
    #project-grid {
      grid-template-columns: 1fr;
      grid-gap: 1;
      justify-content: center;

      .overlay {
        height: 240px;
        width: 320px;

        .projectLinks {
          width: 75%;
          margin: 0 1rem;
          font-size: 0.8rem;
        }
      }
    }
  }

  /* About Page */
  #about {
    margin: 1rem 0;
    &-me {
      flex-direction: column;
      margin-top: 1rem;
      img {
        width: 90%;
        margin-bottom: 1rem;
      }

      p {
        font-size: 1.25rem;
        width: 100%;
      }
    }
  }

  /* Contact Page */
  #contact {
    margin: 1rem 0;

    .bottom-line {
      width: 80vw;
    }

    input[type="submit"] {
      margin-top: 2rem;
    }
  }
  #footer {
    font-size: 0.6rem;

    i {
      padding: 0.5rem 0;
    }
  }
}
/* Mobiles - Landscape */
@media (min-width: 567px) and (max-width: 768px) {
  #main-nav {
    margin-top: 0;
    &-content {
      #logo {
        visibility: hidden;
      }
      ul {
        li {
          font-size: 1.5rem;
        }
      }
    }
  }
  .showcase {
    width: 100%;
    margin-top: -6rem;
    &-content {
      margin-top: 4rem;

      .title {
        h1 {
          font-size: 4rem;
        }
      }

      .about {
        margin: 0;

        &-skills {
          width: 100%;
          i {
            font-size: 2rem;
            padding: 0.5rem;
          }
        }
      }
      #down-arrow {
        display: none;
      }
    }
  }
  #project-section {
    #project-grid {
      grid-template-columns: 1fr;
      grid-gap: 1;
      justify-content: center;

      .overlay {
        height: 340px;
        width: 440px;

        .projectLinks {
          width: 75%;
          margin: 0 1rem;
          font-size: 0.8rem;
        }
      }
    }
  }
  /* About Page */
  #about {
    margin-bottom: 1rem;
    &-me {
      flex-direction: column;
      margin-top: 1rem;
      img {
        width: 80%;
        margin-bottom: 1rem;
      }

      p {
        font-size: 1.25rem;
        width: 100%;
      }
    }
  }

  /* Contact Page */
  #contact {
    margin-bottom: 1rem;

    .bottom-line {
      width: 80vw;
    }
  }
  #footer {
    font-size: 0.6rem;

    i {
      padding: 0.5rem 0;
    }
  }
}
/* Tablets  */
@media (min-width: 768px) and (max-width: 1200px) {
  #main-nav {
    #logo {
      visibility: hidden;
    }
  }
  #project-section {
    #project-grid {
      grid-template-columns: 1fr 1fr;
      grid-gap: 1;
      justify-content: center;
      .overlay {
        height: 240px;
        width: 340px;

        .projectLinks {
          width: 75%;
          margin: 0 1rem;
          font-size: 0.8rem;
        }
      }
    }
  }
}
